<!DOCTYPE html>
<html>
    <html lang='en'>
      <head>
        <!-- Required meta tags -->
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <title>Testing</title>
        <!-- Bootstrap CSS -->
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous'>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src='https://kit.fontawesome.com/b7fcbd6048.js' crossorigin='anonymous'></script>    
      </head>
      <body>
        <h1>Testing</h1>
        <p>Welcome to My Testing</p>

        <div class='alert alert-dark' role='alert'>

          <span class='badge badge-light'>LIMITED PREVIEW</span>
                    
        <h3>April 12th - April 18th 2020</h3>   

        <div class='alert alert-light' role='alert'>    

        <p>This stage is meant to be for testing out new ideas 
        and gathering feedback. The APIs in 
        Limited Preview may never make it to the other stages. 
        There are no SLA guarantees during this stage. 
        Documentation will be minimal, and the data models 
        can change drastically with short notice. APIs and 
        systems in this stage should not be used in 
        production applications.</p>
        </div>


        <p><span class='badge badge-dark'>PREVIEW</span>: </p>

        <h4>April 27th 2020 -  LIVE: features that have been released 
          in the past days.</h4>    

        <div>              
        <p>This stage is meant for APIs and systems that are in 
        release candidate shape. There will be fuller documentation 
        and much less change than limited preview. This is the phase 
        where items will be promoted to the public roadmap. This 
        stage should not be used in production applications either.</p>
        </div>
        </div>

      <sup>            
        <div class='alert alert-primary' role='alert'>
          <ul>
            <li><span class='badge badge-primary'>EXPLORING</span>
              <strong><em>Exploring:</em></strong> 
              features that we’re actively thinking about, based on your feedback.</li>
          </ul>  
        </div> 

        <div class='alert alert-info' role='alert'>         
          <ul>     
            <li><span class='badge badge-info'>PLANNING</span>
              <strong><em>Planning:</em></strong> 
              features we have committed to work on, but are still in early planning phases.</li>
          </ul>
        </div>

        <div class='alert alert-secondary' role='alert'>          
          <ul>  
            <li><span class='badge badge-secondary'>IN PROGRESS</span>
              <strong><em>In Progress:</em></strong> 
              What we’re working on right now.</li>
          </ul>  
        </div>
  </sup>

        <h3>Projects</h3>

        <ul>
          <li><span class='badge badge-primary'>EXPLORING</span> 
            chat (bot) 
            <a href='https://trello.com/invite/b/HDfFLX5u/f6d9c4ef7cdd599d00ea03a2f40f669e/chatbot'
               target='_blank'><i class='fab fa-trello'></i></a></li>
          <li><span class='badge badge-primary'>EXPLORING</span> 
            loyalty systems and engagement features
            <a href='https://trello.com/invite/b/5AMu15Vy/e294263ed2f5634861e9ddc4c4eb5450/loyalty-system' 
               target='_blank'><i class='fab fa-trello'></i></a></li>
          <ul>
            <li><span class='badge badge-info'>PLANNING</span> 
              games (facebook, unity, unreal, javascript)</li>
            <li><span class='badge badge-info'>PLANNING</span> 
              subscriber options (adjacent)</li>
            <li><span class='badge badge-info'>PLANNING</span> 
              competition events (esports)</li>
          </ul>
          <li><span class='badge badge-primary'>EXPLORING</span> 
            themes, overlays, widgets, and alerts (warmup)
            <a href='https://trello.com/invite/b/u9ZiVnlS/ad0d703977d77cbf46058d1f7dcc479b/themes'
               target='_blank'><i class='fab fa-trello'></i></a></li>
        </ul>
        

<sub>
        <div class='alert alert-success' role='alert'>
          <span class='badge badge-success'>Success</span>
          A simple success alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
        </div>
        <div class='alert alert-danger' role='alert'>
          <span class='badge badge-danger'>Danger</span>
          A simple danger alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
        </div>
        <div class='alert alert-warning' role='alert'>
          <span class='badge badge-warning'>Warning</span>
          A simple warning alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
        </div>
</sub>   
        


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous'></script>
        <script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous'></script>
        <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous'></script>
      </body>
    </html>
    